.budgetSliderName {
  font-size: 14px;
  font-weight: 400;
}

.priceField {
  input {
    text-align: center;
    font-size: 12px;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}
