.filterContainer {
  width: 100%;
  margin-bottom: 48px;

  .form {
    display: flex;
    flex-direction: row;
    gap: 15px;

    .field {
      width: 256px;

      :global(.MuiOutlinedInput-root) {
        background-color: #FFF;
        color: var(--text-color, #959493);
        border-radius: 4px;

        input {
          display: flex;
          align-items: center;
          font-weight: 300;
          font-size: 14px;
        }

        fieldset {
          transition: border-color 0.3s ease-in-out;
        }
      }

      :global(.MuiOutlinedInput-root.Mui-error) {
        fieldset {
          border-color: #FF4D4D;
        }
      }

      :global(.MuiInputLabel-root.Mui-error) {
        color: #FF4D4D;
      }

      :global(.MuiSelect-select) {
        background-color: #FFF;
        color: var(--text-color, #959493);
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: 14px;
      }
    }


    .button {
      align-self: flex-end;
      justify-self: flex-end;
      font-size: 16px;
      font-weight: 300;
      width: 100%;
      max-width: 182px;
      height: 56px;
      padding: 10px;
      border-radius: 4px;
      text-transform: capitalize;
      box-shadow: none;
      transition: color 0.3s ease-in-out;
      background-color: #C3731C;
      color: #FFFFFF;
    }
  }
}