@import '../../styles/variables.scss';

.layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    background-color: var(--primary-bg);
    color: var(--primary-text);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    background-color: var(--primary-bg);
    color: var(--primary-text);

    .logo {
        height: 52px;
        transition: color 0.3s ease-in-out;
    }

    .menu-icon {
        color: var(--accent);
        font-size: 45px;
        cursor: pointer;
        display: none;
    }

    .toolbar {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        max-width: 1200px;
        width: 80%;

        .nav-content {
            display: flex;
            align-items: center;
            gap: 16px;

            .nav-button {
                transition: color 0.3s ease-in-out;
                color: #959493;

                &:hover {
                    border-bottom: 2px solid rgb(50 47 42 / 15%);
                }

                &.active {
                    background-color: inherit;
                    color: var(--primary-text);
                    border-bottom: 2px solid var(--primary-text);

                    &:hover {
                        background-color: rgb(50 47 42 / 15%);
                    }
                }
            }
        }
    }
}


@media (max-width: 1100px) {
    .header {
        justify-content: center;

        .toolbar {
            .nav-content {
                display: none;
            }

            .menu-icon {
                display: flex;
            }
        }
    }
}

.content {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px;
    background-color: var(--primary-bg);
    color: var(--primary-text);
}

.footer {
    padding: 42px 0;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    background-color: #1A1A1A;

    .footer-container {
        width: 85%;
        max-width: 1440px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 32px;

        .newsletter {
            grid-row: 1 / 2;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .newsletter-text {
                max-width: 400px;

                .newsletter-title {
                    font-size: 32px;
                    font-weight: 500;
                    line-height: 38px;
                    margin-bottom: 8px;
                    color: #FCFDFF;
                }

                .newsletter-subtitle {
                    font-size: 16px;
                    font-weight: 100;
                    color: #FCFDFF;
                }
            }

            .newsletter-form {
                display: flex;
                align-items: center;
            }
        }

        .footer-divider-1 {
            grid-row: 2 / 3;
            border-color: #322F2A;
        }

        .footer-divider-2 {
            grid-row: 4 / 5;
            border-color: #322F2A;
        }

        .brand-links-row {
            grid-row: 3 / 4;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .brand-block {
                display: flex;
                flex-direction: column;

                .brand-top {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    margin-bottom: 16px;
                }

                .brand-description {
                    font-size: 18px;
                    font-weight: 100;
                    line-height: 32px;
                    color: #FCFDFF;
                    max-width: 350px;
                }
            }

            .links-list-container {
                display: flex;
                flex-direction: row;
                gap: 72px;

                .links-container {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    color: #FCFDFF;

                    .links-title {
                        font-size: 18px;
                        font-weight: 500;
                    }

                    .link {
                        color: inherit;
                        text-decoration: none;
                        cursor: pointer;
                        transition: color 0.3s ease;
                        font-weight: 100;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .bottom-text {
            grid-row: 5 / 6;
            text-align: center;
            font-size: 16px;
            font-weight: 100;
            color: #FCFDFF;
        }
    }

    @media (max-width: 1000px) {
        .footer-container {
            gap: 24px;

            .newsletter {
                flex-direction: column;
                align-items: center;
                text-align: center;

                .newsletter-text {
                    max-width: none;
                }

                .newsletter-form {
                    margin-top: 16px;

                    .mail-form {
                        max-width: none;

                        .MuiInputBase-root {
                            padding-right: 0;
                        }

                        .newsletter-button {
                            display: none;
                        }
                    }
                }
            }

            .brand-links-row {
                flex-direction: column;
                gap: 24px;

                .brand-block {
                    width: 100%;
                    text-align: end;
                    flex-direction: row;
                    justify-content: space-between;
                }

                .links-list-container {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                }
            }
        }
    }
}

.mail-form {
    width: 411px;

    .mail-field {
        background-color: #FCFDFF;
        border-radius: 12px;

        .MuiOutlinedInput-root {
            height: 66px;
            border-radius: 12px;

            fieldset {
                border: none;
            }

            .MuiOutlinedInput-input {
                font-weight: 300;
                padding: 0 16px;
                font-size: 16px;
                color: #959493;
            }
        }
    }

    .newsletter-button {
        color: #FCFDFF;
        background-color: var(--accent);
        width: 134px;
        height: 50px;
        border-radius: 12px;
        font-size: 16px;
        font-weight: 300;
        text-transform: capitalize;
        padding: 0 28px;

        &:hover {
            opacity: 0.95;
        }
    }
}
