.home-page {
  margin-top: 25px;
}

.form-field {
  height: 64px;
}

.booking-button-form {
  width: 100px;
}

.booking-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}