.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.banner {
  display: flex;
  align-content: center;
  margin: 65px 0 65px 0;
  width: 70vw;
  max-width: 1072px;
  background-size: cover;
  background-position: center;
  padding: 64px;
  border-radius: 24px;

  @media (max-width: 899px) {
    margin-bottom: 33px;
    padding: 0;
  }

  .banner-container {
    display: flex;
    align-items: center;
    position: relative;
    gap: 24px;
    justify-content: space-between;

    .banner-text {
      color: #fff;
      display: block;
    }

    @media (max-width: 1439px) {
      justify-content: center;

      .banner-text {
        display: none;
      }
    }

    .form-paper {
      display: flex;
      flex-direction: column;
      padding: 32px;
      justify-content: space-between;
      border-radius: 24px;
      background-color: white;
      min-width: 356px;
      min-height: 369px;

      .form {
        .label {
          font-size: 15px;
          font-weight: 300;
          line-height: 20px;
        }

        .field {
          .MuiOutlinedInput-root {
            border: none;
            background-color: #F5F6F8;
            color: #959493;
            border-radius: 12px;

            input {
              display: flex;
              align-items: center;
              font-weight: 300;
              font-size: 12px;
            }

            fieldset {
              border: none;
              transition: border-color 0.3s ease-in-out;
            }
          }

          .MuiOutlinedInput-root.Mui-error fieldset {
            border-color: #FF4D4D;
          }

          .MuiInputLabel-root.Mui-error {
            color: #FF4D4D;
          }
        }

        .button {
          background-color: #C3731C;
          border-radius: 12px;
          height: 50px;
          font-size: 16px;
          font-weight: 400;
          text-transform: none;
          padding: 10px;
          display: flex;
        }
      }
    }
  }
}

.home-hotel-list {
  .hotels-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0 60px;
    flex-wrap: wrap;
    gap: 32px;

    .hotel-card {
      border: none;
      height: 397px;
      width: 384px;
      border-radius: 32px;
      box-shadow: 0 2px 44px 0 #322F2A14;
      background-color: #FCFDFF;
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;

      @media (max-width: 1247px) {
        width: calc(48% - 12px);
      }

      @media (max-width: 831px) {
        max-width: 534px;
        width: 100%;
      }

      .MuiCardActionArea-root {
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      .card-content {
        flex: 1;
        width: 100%;
        padding: 24px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .card-img {
          border-radius: 16px;
          width: 100%;
          height: 220px;
          object-fit: cover;
          object-position: center;
        }

        .main-info {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .card-name {
            font-size: 20px;
            font-weight: 500;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }

        .hotel-price {
          color: #322F2A;
          font-size: 24px;
          font-weight: 600;
        }
      }
    }
  }

  .top-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 61px 0 61px 0;

    .button {
      height: 34px;
      border-radius: 8px;
      background-color: #C3731C;
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 400;
      text-transform: none;
    }

  }

  @media (max-width: 831px) {
    .content {
      padding: 0;
    }

    .top-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 32px;

      .button {
        width: 100%;
        max-width: 534px;
      }
    }
  }
}

.home-hotel-benefits {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
  width: 100%;
  max-width: 1200px;
  height: 535px;
  gap: 64px;

  .benefit-img {
    width: 504px;
    height: 535px;
  }

  .benefit-content {
    width: 580px;

    .benefits-list {
      display: flex;
      flex-direction: column;
      gap: 32px;

      .benefit-element {
        display: flex;
        align-items: center;
        gap: 16px;

        .benefit-icon-container {
          width: 56px;
          height: 56px;
          border-radius: 50%;
          background-color: #F8F9FB;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .benefit-title {
          color: #322F2A;
          font-size: 18px;
          font-weight: 500;
        }

        .benefit-body {
          color: #959493;
          font-size: 16px;
          font-weight: 300;
        }

        .benefit-icon {
          width: 32px;
          height: 32px;
          margin: 0;
        }
      }
    }
  }

  @media (max-width: 1160px) {
    margin: 0 0 60px;
    justify-content: center;

    .benefit-img {
      display: none;
    }

    .benefit-content {
      max-width: none;

      .benefits-list {
        flex-direction: row;
      }

      .benefit-element {
        flex-direction: column;

        .benefit-title {
          text-align: center;
        }

        .benefit-body {
          text-align: center;
        }
      }
    }
  }
}
