* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif !important;
}

body {
    min-width: 553px;
    background-color: #FCFDFF;
}

h1 {
    padding: 22px;
    text-align: center;
    font-size: 44px;
}

.status {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0 -14px 16px;

    &--error {
        color: #D32F2F !important;
    }

    &--success {
        color: #14b600 !important;
    }
}